body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgb(21, 21, 21));
}

#screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg-image {
  background-image: url('./bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}