html, 
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#screen {
  width: 100vw;
  height: 100vh;
}

#loading-space {
  background-color: white;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}

.blur-effect {
  transition: -webkit-filter 1000ms, -moz-filter 1000ms, -ms-filter 1000ms, -o-filter 1000ms, filter 1000ms;
}

.blur-on { 
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -ms-filter: blur(50px);
  -o-filter: blur(50px);
  filter: blur(50px);
}

.blur-off { 
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}

.wrapper{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%); 
}
.circle{
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #000000;
  border-radius: 50%;
  animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
  transform-origin: bottom center;
  position: relative;
}
@keyframes loading{
  0%{
    transform: translateY(0px);
    background-color: #000000;
  }
  50%{
    transform: translateY(50px);
    background-color: #ffffff;
  }
  100%{
    transform: translateY(0px);
    background-color: #000000;
  }
}
.circle-1{
  animation-delay: 0.1s;
}
.circle-2{
  animation-delay: 0.2s;
}
.circle-3{
  animation-delay: 0.3s;
}
.circle-4{
  animation-delay: 0.4s;
}
.circle-5{
  animation-delay: 0.5s;
}
.circle-6{
  animation-delay: 0.6s;
}
.circle-7{
  animation-delay: 0.7s;
}
.circle-8{
  animation-delay: 0.8s;
}