html, 
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: grab;
}

@media (orientation: landscape) { 
  body {
    background-image:url('../images/bg-turn-device.png');
    background-size:cover;
  }

  #screen {
    display: none;
  }
}

#screen {
  width: 100vw;
  height: 100vh;
}

.theme-switch {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 2em;
}